.DictionaryExplanation {
  background: rgba(113, 58, 18, 0.8);
  padding: 10px;
  border-radius: 4px;
}

.DictionaryExplanation h3 {
  font-size: 46px;
  font-weight: 900;
  margin: 0;
}

.DictionaryExplanation h4 {
  font-weight: 900;
}

.DictionaryExplanation p {
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 600px) {
  .DictionaryExplanation {
    margin-bottom: 5px;
  }
}
