.Dictionary {
  max-width: 660px;
  margin: 0 auto;
  font-family: "Ubuntu Condensed", sans-serif;
  color: rgb(113, 58, 18);
  /*font-family: "Quicksand", sans-serif;
  font-family: "Poppins", sans-serif;

  */
}

.Dictionary .imageBackground {
  position: fixed;
  width: 660px;
  object-fit: cover;
  z-index: -1;
  border-radius: 5px;
  filter: sepia(40%);
  margin: 0 auto;
}

.Dictionary h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 56px;
}

.Dictionary h2 {
  color: rgb(113, 58, 18);
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

.Dictionary form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.Dictionary input {
  padding-left: 5px;
  border: 2px solid rgb(113, 58, 18);
  border-radius: 4px;
  line-height: 1.5;
}

.Dictionary button {
  background: transparent;
  border: 2px solid rgb(113, 58, 18);
  border-radius: 4px;
}

.Dictionary button:hover {
  background: rgb(113, 58, 18, 0.6);
}
